#myth-monster-header img {
    image-rendering: center;    
}

#myth-monster-header {
    text-align: center;
}

.info-footer { 
    text-align: center;

}

  #info-footer {
    text-align: center;
}

.list-ul {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.list-li {
    list-style:none;
    box-shadow: 4px 4px 10px #c9c8c8;
    text-align: center;
    border: rgb(255, 255, 255) solid 1px;
    padding: 1rem;
    width: 20rem;
    height: 40rem;
    display: inline-grid;
    margin: 1rem 2rem;
    color:rgb(255, 230, 0);
    background-color: black;
}

.list-li img {
    justify-self: center;
    max-width: 100%;
    max-height: 100%;
}

body {
    background-image: url('https://i.ibb.co/zZhpQRp/5083843.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
footer {
    margin-top: auto;
}

#create-monst-form {
    font-family:'Lucida Console';
    color: rgb(225, 194, 35);
    text-align: center;
    text-shadow: 3px 5px 5px black;
    font-size: 22px;
}

.evnt-button {
    font-size: 22px;
    font-family:'papyrus';
    box-shadow: 2px 2px 2px 2px rgb(225, 194, 35);
    background-color: black;
    color:rgb(225, 194, 35);
}

#evnt-btn {
    font-size: 22px;
    font-family:'papyrus';
    box-shadow: 2px 2px 2px 2px rgb(225, 194, 35);
    background-color: black;
    color:rgb(225, 194, 35);
}

  .input-text {
    font-size: 20px;
    font-family: 'Lucida Console';
  }