#myth-monster-header img {
    image-rendering: center;    
}

#myth-monster-header {
    text-align: center;
}

.info-footer { 
    text-align: center;

}

form.collapsed {
    visibility: visible;
  }

/* form.collapsed {
    visibility: hidden;
  } */

  #info-footer {
    text-align: center;
}

.list-ul {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.list-li {
    list-style: none;
    width: 400px;
    box-shadow: 4px 4px 10px #c9c8c8;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(225, 194, 35);
}

.list-li img {
    max-width: 100%;
    max-height: 100%;
}

body {
    background-image: url('https://i.ibb.co/zZhpQRp/5083843.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
footer {
    margin-top: auto;
}

#create-monst-form {
    font-family:'Lucida Console';
    color: rgb(225, 194, 35);
    text-align: center;
    text-shadow: 3px 5px 5px black;
    font-size: 22px;
}

.evnt-button {
    font-size: 22px;
    font-family:'papyrus';
    box-shadow: 2px 2px 2px 2px rgb(225, 194, 35);
    background-color: black;
    color:rgb(225, 194, 35);
}



